#welcomeVideo {
  position: fixed;
  right: 0;
  top: 0;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 2;
}
#navigationBar {
  z-index: 1;
  visibility: hidden;
}

.welcomeText {
  font-size: 30px;
  z-index: 3;
  position: fixed;
  max-width: 100%;
  height: auto;
  margin-left: 50px;
  margin-top: 390px;
  color: white;
}

.enterName {
  font-size: 30px;
  z-index: 3;
  position: fixed;
  width: auto;
  margin-left: 450px;
  margin-right: auto;
  margin-top: 362px;
  color: white;
}

#nameBox {
  background: transparent;
  border: none;
  outline: none;
  font-size: 100px;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  &:focus {
    outline: none;
  }
}

#flaticonFooter {
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 21px;
  margin-left: 50px;
  background: transparent;
  color: rgb(159, 159, 159);
}

#skipButton {
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  margin-right: 50px;
  margin-bottom: 50px;
  color: white;
}
a:link, a:visited {
  color: rgb(159, 159, 159);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(185, 185, 185);
  text-decoration: none;
}
