body {
  height: 100%;
  width: 100%;
  background-color: #17212b;
}
@font-face {
  font-family: Bitter;
  src: url('https://fonts.googleapis.com/css?family=Bitter');
}
#name {
  margin-top: -40px;
  margin-left: -10px;
  top: 0;
  text-align: center;
  font-family: Bitter;
  font-size: 50px;
  color: #ecf0f1;
}

#tophalf {
  margin-top: 10%;
  position: static;
}
#bottomhalf {
  position: static;
}
#topleft-triangle {
  position: absolute;
  margin-left: 35.5%;
  width: 0;
  height: 0;
  border-bottom: 200px solid #c0392b;
  border-left: 170px solid transparent;
}
#topleft-triangle:hover {
  border-bottom: 200px solid #792219;;
}
#topright-triangle {
  position: absolute;
  right: 0;
  margin-right: 37.35%;
  width: 0;
  height: 0;
  border-bottom: 200px solid #f39c12;
  border-right: 170px solid transparent;
}

#topright-triangle:hover {
  border-bottom: 200px solid #ab6e0d;
}

#bottomleft-triangle {
  margin-top: 15.65%;
  margin-left: 35.5%;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 200px solid #27ae60;
  border-left: 170px solid transparent;
}

#bottomleft-triangle:hover {
  border-top: 200px solid #1a7440;
}

#bottomright-triangle {
  right: 0;
  margin-top: 15.65%;
  margin-right: 37.35%;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 200px solid #2980b9;
  border-right: 170px solid transparent;
}

#bottomright-triangle:hover {
  border-top: 200px solid #1c587e;
}
.slide {
  display: block;
  position: absolute;
  height: 200px !important;
  width: 200px !important;
  background: red;
}
