html, body {
  height: 100%;
  min-width: 100%;
  margin: 0 0 0 0;
  background-color: #10171f;
}
.fadein {
  animation: fadein 6s;
}

#container {
  position: absolute;
  top: 40%;
  left: 43%;
}
#name {
  left: 0;
  font-family: 'Bitter', 'serif';
  font-size: 50px;
  color: #ecf0f1;
}

#surname {
  left: 0;
  font-size: 20px;
  margin-top: -40px;
  font-family: 'Bitter', 'serif';
  text-align: center;
  color: rgb(212, 212, 212);
}

#leftbar {
  position: fixed;
  left: 0;
  width: 30px;
  min-height: 100%;
  margin-top: -30px;
  background-color: #c0392b;
}

#rightbar {
  position: fixed;
  right: 0;
  width: 30px;
  min-height: 100%;
  margin-top: -30px;
  background-color: #16a085;
}

#bottombar {
  position: fixed;
  bottom: 0;
  height: 30px;
  min-width: 100%;
  background-color: #f39c12;
}


@keyframes fadein {
  0%  { opacity: 0; }
  100% { opacity: 1; }
}
